[submodule "external/freetype"]
	path = external/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "external/harfbuzz"]
	path = external/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
